body {
  background-color: #eeeeee;
}

img {
  width: 50%;
  border-radius: 50%;
  padding: 35px 0;
}

h1 {
  color: #d72323;
  font-Family: 'Raleway', Sans-Serif;
  font-Size: 44px;
}

p {
  color: #eeeeee;
  font-Family: 'Open Sans', Sans-Serif;
  font-Size: 15px;
}

label {
  color: #303841 ;
  font-Family: 'Open Sans', Sans-Serif;
}

span {
  display: none;
}

.buttonDiv {
  text-align: center;
  padding: 50px 0;
}

.jumbotron {
  text-align: center;
  background-color: #3a4750;
}

.footer {
  background-color: #303841;
  color: #eeeeee;
  text-align: center;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#result {
  padding: 50px 0;
  text-align: center;
  

  
  /* display: none; */
}



