body {
  background-color: #f6f4e6;
}

img {
  width: 50%;
  border-radius: 50%;
  padding: 35px 0;
}

h1 {
  color: #fddb3a;
  font-Family: 'Raleway', Sans-Serif;
  font-Size: 44px;
}

p {
  color: #f6f4e6;
  font-Family: 'Open Sans', Sans-Serif;
  font-Size: 15px;
}

label {
  color: #303841 ;
  font-Family: 'Open Sans', Sans-Serif;
}

span {
  display: none;
}

.submitDiv {
  text-align: center;
  padding: 50px 0;
}

.jumbotron {
  margin-top: 30px;
  text-align: center;
  background-color: #52575d;
}

.footer {
  background-color: #52575d;
  color: #eeeeee;
  text-align: center;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.result {
  text-align: center;
  background-color: #41444b;
  color: #fddb3a;
  font-Family: 'Raleway', Sans-Serif;
  font-Size: 36px;
}



